<launch>
   <!-- Node -->
   <node pkg="px4_controller" type="SetPoint" name="SetPoint" output="screen"/>
   <!-- node pkg="px4_controller" type="Visual.py" name="Visual.py" output="screen"/ -->
   <!--node pkg="px4_controller" type="Throw" name="throw" output="screen"/ -->
   <node pkg="px4_controller" type="Main" name="main" output="screen"/>
</launch>
