<launch>
   <param name="InGame" type="bool" value="false"/>

   <!-- Node -->
   <node pkg="px4_controller" type="SetPoint" name="SetPoint" output="screen"/>
   <node pkg="px4_controller" type="cvisual" name="cvisual" output="screen"/>
   <!-- <node pkg="px4_controller" type="Throw" name="throw" output="screen"/> -->
   <node pkg="px4_controller" type="servo_control_node.py" name="servo_control" output="screen">
      <param name="i2c_bus" value="1"/>
      <param name="i2c_address" value="0x40"/>
      <param name="frequency_hz" value="50"/>
      <param name="min_pulse_us" value="500"/>
      <param name="max_pulse_us" value="2500"/>
      <param name="open_angle" value="20"/>
      <param name="close_angle" value="120"/>
      <param name="action_delay_sec" value="1.0"/>
   </node>
   <node pkg="px4_controller" type="Main" name="main" output="screen"/>
</launch>
